In [1]:
a = 100 
b= 10.23 
c= 100+3j
print ("The type of variable having value", a, " is ", type(a)) 
print ("The type of variable having value", b, " is ", type(b)) 
print ("The type of variable having value", c, " is ", type(c)) 
print ("The type of variable having value '", a + b, "' is ", type (a + b))
print ("The type of variable having value", b + c, " is ", type (b + c))
d = int (15) 
print(d)
print ("The type of variable having value", d, " is ", type(d))
e = float (10.1)
print ( e)
print ("The type of variable having value", e, " is ", type(e))
f = c + 3
print("f=",f)
print ("The type of variable f is", type(f))
g = complex (3)
print ("g=", g)

The type of variable having value 100  is  <class 'int'>
The type of variable having value 10.23  is  <class 'float'>
The type of variable having value (100+3j)  is  <class 'complex'>
The type of variable having value ' 110.23 ' is  <class 'float'>
The type of variable having value (110.23+3j)  is  <class 'complex'>
15
The type of variable having value 15  is  <class 'int'>
10.1
The type of variable having value 10.1  is  <class 'float'>
f= (103+3j)
The type of variable f is <class 'complex'>
g= (3+0j)

In [2]:
# Store input numbers:  
num1 = input('Enter first number: ')  
num2 = input('Enter second number: ')  
# Add two numbers  
sum = float(num1) + float(num2)  
# Subtract two numbers  
min = float(num1) - float(num2)  
# Multiply two numbers  
mul = float(num1) * float(num2)  
#Divide two numbers  
div = float(num1) / float(num2)  
# Display the sum  
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))  
# Display the subtraction  
print('The subtraction of {0} and {1} is {2}'.format(num1, num2, min))  
# Display the multiplication  
print('The multiplication of {0} and {1} is {2}'.format(num1, num2, mul))  
# Display the division  
print('The division of {0} and {1} is {2}'.format(num1, num2, div))

Enter first number: 1
Enter second number: 2
The sum of 1 and 2 is 3.0
The subtraction of 1 and 2 is -1.0
The multiplication of 1 and 2 is 2.0
The division of 1 and 2 is 0.5

In [3]:
s1='string in single quote'
s2="string in double quote"
s3="""string in triple quote"""
s4='.'
s5='Newsletter'

# Printing string print(s1)
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

#string concatenation
s6=s1+s2+s3
print("Concatenated string = ",s6)
print("Fruits are Apple,Orange,Grape,etc",s4*3)
#substring or slicing
print("Substring of ",s5," = ",s5[4:7])
print("Substring of ",s5," = ",s5[:4])
print("Substring of ",s5," = ",s5[4:])
print("Substring of ",s5," = ",s5[::2])
print("Substring of ",s5," = ",s5[-6:-1])
print("Substring of ",s5," = ",s5[-6:])
print("Substring of ",s5," = ",s5[-10:-6])
print("Reverse of ",s5," = ",s5[::-1])

string in single quote
string in double quote
string in triple quote
.
Newsletter
Concatenated string =  string in single quotestring in double quotestring in triple quote
Fruits are Apple,Orange,Grape,etc ...
Substring of  Newsletter  =  let
Substring of  Newsletter  =  News
Substring of  Newsletter  =  letter
Substring of  Newsletter  =  Nwlte
Substring of  Newsletter  =  lette
Substring of  Newsletter  =  letter
Substring of  Newsletter  =  News
Reverse of  Newsletter  =  rettelsweN

In [4]:
import datetime
from datetime import datetime 
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
current_year = now.strftime("%Y")
current_month=now.strftime("%B")
current_day = now.strftime("%a")
current_date = now.strftime("%d")
print("Todays date is:")
print("{} {} {} {} IST {}".format(current_day,current_month,current_date,current_time,current_year))

Todays date is:
Wed November 10 10:07:15 IST 2021

In [7]:
lst = []
choice=1
while choice!=0:
    print("0. Exit")
    print("1. Add")
    print("2. Delete")
    print("3. Display")
    choice=int(input("Enter choice: "))
    if choice==1:
        n=int(input("Enter number to append: "))
        lst.append(n)
        print("List: ",lst)
    elif choice==2:
        if len(lst)==0:
           print("List is empty, no item to remove:")
           print()
           continue
        n=int(input("Enter number to remove: "))
        if n not in lst:
            print("The item to be removed not in list:")
            print()
            continue
        lst.remove(n)
        print("List: ",lst)
    elif choice==3:
        print("List: ",lst)
    elif choice==0: 
        print("Exiting!")
    else:
        print("Invalid choice!!") 
        print()

0. Exit
1. Add
2. Delete
3. Display
Enter choice: 2
List is empty, no item to remove:

0. Exit
1. Add
2. Delete
3. Display
Enter choice: 3
List:  []
0. Exit
1. Add
2. Delete
3. Display
Enter choice: 3
List:  []
0. Exit
1. Add
2. Delete
3. Display
Enter choice: 0
Exiting!

In [8]:
tup1 = ('jan','feb','mar','apr','may','june','july','august','september','october','november','december')
tup2 = (1, 2, 3, 4, 5)
tup3=(1, "Hello", (11, 22, 33))
tup4=('India',[10,20,30],'USA')
#print the tuple
print(tup1)

#iterating in tuple 
for mon in tup1:
    print(mon)

#accessing the tuple element
print("The element in the 5th position : ",tup1[5])
print(tup1[-6])
print("Tuple before addition")
print(tup2)
tup2 = tup2 + (7,) 
print("Tuple after addition")
print(tup2)
tup2=tup2+('apple','orange','banana')
print(tup2)

#accessing nested tuple element 
print(tup3[2][1])

#tuple element is mutable, element change is possible 
print("Tuple before change")
print(tup4)
tup4[1][2]=40
print("Tuple after change")
print(tup4)

#Slicing operation in tuples
print(tup1[2:5])
print(tup1[4:])
print(tup1[:4])

#finding position of the element
print("The position of 'october' in the tuple: ",tup1.index('october'))

('jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december')
jan
feb
mar
apr
may
june
july
august
september
october
november
december
The element in the 5th position :  june
july
Tuple before addition
(1, 2, 3, 4, 5)
Tuple after addition
(1, 2, 3, 4, 5, 7)
(1, 2, 3, 4, 5, 7, 'apple', 'orange', 'banana')
22
Tuple before change
('India', [10, 20, 30], 'USA')
Tuple after change
('India', [10, 20, 40], 'USA')
('mar', 'apr', 'may')
('may', 'june', 'july', 'august', 'september', 'october', 'november', 'december')
('jan', 'feb', 'mar', 'apr')
The position of 'october' in the tuple:  9

In [9]:
mon={1:'jan',2:'feb',3:'mar',4:'apr',5:'may',6:'june'}
stud={'kiran':23,'kumar':20,'dinesh':19,'rakesh':21}

print("mon Dictionary is ",mon)
print("The element in the key position 3 is :",mon[3])
print("The mon dictionary values are: ",mon.values())
print("The mon dictionary keys are: ",mon.keys())

#adding an item in the dictionary 
print("Before addition")
for item in mon.values():
    print(item,end=' ')

mon[7]='july' 
print()
print("After addition")
for item in mon.values():
    print(item,end=' ')
    print()
print("Before deletion")
for item in stud.values():
    print(item,end=' ')
    print()
    
del stud['kumar']

print("After deletion")
for item in stud.values():
    print(item,end=' ')
    print()

print("Before change")
print("stud Dictionary is ",stud)
stud['dinesh']=55
print("After change")
print("stud Dictionary is ",stud)

print("Key value pair of dictionary")
print(stud.items())

mon Dictionary is  {1: 'jan', 2: 'feb', 3: 'mar', 4: 'apr', 5: 'may', 6: 'june'}
The element in the key position 3 is : mar
The mon dictionary values are:  dict_values(['jan', 'feb', 'mar', 'apr', 'may', 'june'])
The mon dictionary keys are:  dict_keys([1, 2, 3, 4, 5, 6])
Before addition
jan feb mar apr may june
After addition
jan
feb
mar
apr
may
june
july
Before deletion
23
20
19
21
After deletion
23
19
21
Before change
stud Dictionary is  {'kiran': 23, 'dinesh': 19, 'rakesh': 21}
After change
stud Dictionary is  {'kiran': 23, 'dinesh': 55, 'rakesh': 21}
Key value pair of dictionary
dict_items([('kiran', 23), ('dinesh', 55), ('rakesh', 21)])